 <div class="total">
  <section class="main">
    <div class="left">
      <div class="menu"><a routerLink="course" routerLinkActive="router-link-active" >Add Course</a></div>
      <div class="menu"><a routerLink="takeattendance">Take Attendance</a></div>
      <div class="menu"><a routerLink="viewstudent">view Student</a></div>
      <div class="menu"><a routerLink="viewsattendance">view Attendance</a></div>
      <div class="menu"><a routerLink="ea">Edit Student</a></div>
      <div class="menu"><a href="#">Setting</a></div>
    </div>
    <div class="right">
       <router-outlet></router-outlet>
    </div>
  </section>
</div>
