<section class="main" style="min-height: 90vh;">
  <div class="right">
    <div style="  margin-bottom: 3vh; margin-top: 2vh;">
      <div style=" display: flex; justify-content: center; min-height: 7vh; background-color: cornflowerblue; min-width: 70vw;">
        <h1>Course</h1>
      </div>
    </div>
    <div style="min-width: 60vw;">
      <!-- <div style=" display: flex; justify-content: center; margin-bottom: 3vh;">
        <h1></h1>
      </div> -->
      <div class="course">
        <div class="card">
          <a routerLink="/adminDash" routerLinkActive="active">
            <h1>
              HTML
            </h1>
          </a>
        </div>
        <div class="card">
          <a routerLink="adminDash" routerLinkActive="active">
            <h1>CSS</h1>
          </a>
        </div>
        <div class="card">
          <a routerLink="adminDash" routerLinkActive="active">
            <h1>JAVA SCRIPT</h1>
          </a>
        </div>
        <div class="card">
          <a routerLink="adminDash" routerLinkActive="active">
            <h1>Java</h1>
          </a>
        </div>
        <div class="card">
          <a routerLink="adminDash" routerLinkActive="active">
            <h1>Angular</h1>
          </a>
        </div>
        <div class="card">
          <a routerLink="adminDash" routerLinkActive="active">
            <h1>DBMS</h1>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
